# Environment Variables Template for VaultCore

# Global Infrastructure
POSTGRES_USER=vaultadmin
POSTGRES_PASSWORD=vaultsecret
POSTGRES_DB=vaultcore_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Shared Single PostgreSQL Database Connection URL for MVP
DATABASE_URL=postgresql://vaultadmin:vaultsecret@postgres:5432/vaultcore_db

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# JWT Secret
JWT_SECRET=super-secret-vaultcore-jwt-key-2026

# Internal Service Authentication API Key
INTERNAL_SERVICE_API_KEY=vaultcore-internal-service-secret-key-2026

# Microservice Ports
GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
ACCOUNT_SERVICE_PORT=3002
PAYMENT_SERVICE_PORT=3003
LEDGER_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005

# Log Level
LOG_LEVEL=info
