PORT=3003
NODE_ENV=development
DATABASE_URL=postgresql://vaultadmin:vaultsecret@localhost:5432/vaultcore_db
JWT_SECRET=super-secret-vaultcore-jwt-key-2026
LEDGER_SERVICE_URL=http://localhost:3004
INTERNAL_SERVICE_API_KEY=vaultcore-internal-service-secret-key-2026
REDIS_HOST=localhost
REDIS_PORT=6379
LOG_LEVEL=info
