PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://vaultadmin:vaultsecret@localhost:5432/vaultcore_db?schema=auth
JWT_SECRET=super-secret-vaultcore-jwt-key-2026
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=super-secret-vaultcore-refresh-key-2026
REFRESH_TOKEN_EXPIRES_IN=7d
REDIS_HOST=localhost
REDIS_PORT=6379
